html, body {
    width: 100%;
    height: 100%; 
    padding: -5px;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container_1 {
    display: grid;
    height: 1588px;
    width: 1000px;
}

.container_2 {
    display: grid;
    height: 1588px;
    width: 1440px;
}

.header {
    grid-row: 1;
    width: 100%; 
    height: 114px; 
    position: absolute;
    display: flex;
    align-items: flex-start;
}

.column {
    grid-row: 2;
    display: grid;
    flex-direction: column;
    gap: 16px;
    width: 490px;
    height: 1360px;
}


#map {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 600px;
    height: 550px;
    background-color: #ddd;
    border-radius: 25px;
}

.logo {
    left: 120px; 
    top: 26px;
    position: absolute;
}

.ellipse_black {
    width: 42px;
    height: 42px;
    left: 64px;
    top: 12px;
    position: absolute;
}

.C {
    width: 32px;
    height: 34px;
    top: 12px;
    position: absolute;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.C::before {
    content: 'C';
    font-size: 28px;
    font-weight: bold;
}

.cabify_text {
    width: 731px;
    height: 50px;
    left: 140px;
    top: 40px;
    margin-left: 50px;
    position: absolute;
    color: black; 
    font-size: 48px;
    font-family: Monofett;
    font-weight: 400; 
    line-height: 24px; 
    word-wrap: break-word;
}

.cabify_text_2 {
    width: 731px;
    left: 140px;
    margin-top: -20px;
    margin-left: 480px;
    position: absolute;
    color: black; 
    font-size: 60px;
    font-family: Monofett;
    font-weight: 400; 
    line-height: 24px; 
    word-wrap: break-word;
}

.about {
    width: 176px; 
    height: 26px;
    left: 1186px;
    top: 40px;
    position: relative;
    color: black;
    font-size: 24px; 
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 28px; 
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
    text-decoration: none;
}

.about:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.about:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.line_1 {
    width: 1675px;
    height: 1;
    transform: rotate(180deg);
    border: 1px black solid;
    margin-top: 114px;
    margin-left: -175px;
    position: absolute;
}

.line_2 {
    width: 500%;
    height: 1;
    transform: rotate(180deg);
    border: 1px black solid;
    margin-bottom: 114px;
    position: absolute;
}

.line_3 {
    width: 1440px;
    height: 1;
    transform: rotate(180deg);
    border: 1px black solid;
    margin-top: 114px;
    position: absolute;
}

.line_4 {
    width: 1440px;
    height: 1;
    transform: rotate(180deg);
    border: 1px black solid;
    margin-bottom: 114px;
    position: relative;
}

.ellipse_orange {
    position: absolute;
    width: 551px;
    height: 551px; 
    opacity: 0.32;
    background: #FA7515;
    box-shadow: 220px 220px 220px;
    border-radius: 9999px;
    filter: blur(220px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    z-index: 1;
}

.ellipse_azure {
    width: 225;
    height: 225; 
    opacity: 0.4;
    background: #E2F8F0;
    box-shadow: 100px 100px 100px;
    border-radius: 9999px;
    filter: blur(220px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -280px;
    margin-left: -150px;
}

.description {
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-family: Inter;
    word-wrap: break-word;
    margin-top: 250px;
    margin-left: 200px;
    width: 500px;
    text-align: left;
}

.subdescription {
    font-size: 32px;
    color: black;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    margin-top: 50px;
    margin-left: 200px;
    width: 500px;
    text-align: left;
}

.text_prices {
    font-size: 24px;
    color: black;
    font-family: Inter;
    font-weight: 600;
    margin-top: 150px;
    margin-left: 75px;
    width: 500px;
    text-align: center;
}

.calendar {
    width: 360px;
    margin: 1em auto;
    padding: 2em;
    font-family: Inter;
    border: 1px solid #dcdcff;
    background: #a66ba6;
    border-radius: 25px;
    margin-left: 115px;
}

#current-time {
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 10px;
    background-color: #a66ba6;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

#show-chart-button {
    position: relative;
    bottom: 0px;
    padding: 10px 20px;
    background-color: #91265f;
    color: white;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#show-chart-button:hover {
    background-color: #ac3f3f;
}

table {
    clear: both;
    width: 100%;
    border: 1px solid #dcdcff;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
}

td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dcdcff;
    border-top: 1px solid #dcdcff;
    width: 14.28571429%;
}

thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 1.5em;
}

.not-current {
    color: #c0c0c0;
}

.normal {
    cursor: pointer;
}  

.next-days {
    background: #5dd15d;
}

.today {
    font-weight: 700;
    color: #28283b;
    background-color: #ac3f3f;
    font-size: 1.5em;
}

.today,
.next-days {
    cursor: pointer;
}

.next-days:hover,
    .today:hover {
        background-color: rgba(103, 95, 95, 0.8);
}

#selected-date {
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}
  

#btnPrev {
    float: left;
    margin-bottom: 20px;
}

#btnPrev:before {
    content: '\f104';
    font-family: FontAwesome;
    padding-right: 4px;
}
#btnNext {
    float: right;
    margin-bottom: 20px;
}
#btnNext:after {
    content: '\f105';
    font-family: FontAwesome;
    padding-left: 4px;
}
#btnPrev,
#btnNext {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c0c0c0;
    cursor: pointer;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}

#myChart {
    position: absolute;
    top: 1000px;
    left: 800px;
}

.footer {
    grid-row: 3;
    width: 100%;
    height: 114px;
    margin-top: auto;
    background-color:#fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.info {
    width: 980px;
    height: 1360px;
    position: relative;
}

.content {
    margin: 200px auto;
    width: calc(100% - 1200px);
    text-align: center;
  }
  

.heading {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    display: inline-flex;
    font-size: 46px;
    text-align: left;
    width: 734px;
    margin-left: -100px;
}

.subheading {
    width: 734px;
    color: #7E8492;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    text-align: left;
    margin-left: -100px;
    margin-top: 25px;
}

.resume {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 800px;
    height: 600px;
    margin-top: -50px;
    margin-left: 320px;
}

.circle {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    font-size: 24px;
    font-weight: bold;
}

.frontend_text {
    position: absolute;
    margin-top: 520px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}  

.backend_text {
    position: absolute;
    width: 500px;
    margin-top: 520px;
    margin-left: 425px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
  
.frontend_undertext {
    position: absolute;
    color:#9d9a9a;
    margin-top: 575px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.backend_undertext {
    position: absolute;
    color:#9d9a9a;
    margin-top: 575px;
    margin-left: 426px;
    font-family: Inter;
    width: 500px;
    font-size: 18px;
    font-weight: 500;
}

.help {
    position: absolute;
    width: 800px;
    color: black;
    font-family: Inter;
    font-size: 16px;
    margin-left: 1350px;
    height: 30px;
}

.help a {
    color: black;
    text-decoration: underline;
}

